<div class="container">
  <div class="row">
    <h1>Articles</h1>
  </div>
  <%= render 'article' %>
  <div class="flickr_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>