<div class="container" id="home-container">

  <div class="row"> 
    <div class="jumbotron text-center">
      <h1 class="display-4">Aplix!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <%= link_to "Sign up", signup_path, class: "btn btn-dark btn-lg" %>
    </div>
  </div>

  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-4 col-md-4 article-index">
        <%= link_to article_path(article) do %>
          <%= image_tag(article.image_url) %>
        <% end %>
        <h3><%= link_to article.title, article_path(article) %></h3>
      </div>
    <% end %>
  </div>

</div>