  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-black text-white-50">
    <div class="container text-center">
      <small>&copy; <%= link_to "PaF!", "http://www.paf.hr", class: "text-white" %> 2022.</small>
    </div>
  </footer>